# OS
.DS_Store

# Environment
.env

# Logs
**/logs/
*.log

# Build
**/dist/
**/out/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.claude/
.project
*.launch
.settings/
*.sublime-workspace

# TypeScript
**/node_modules/
*.tgz
*.lcov
**/coverage/
.eslintcache
.cache
*.tsbuildinfo
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# copied from packages/common
packages/typescript/libs/lefthook/configs/base.yml
packages/typescript/libs/lefthook/configs/betterleaks.yml
packages/typescript/libs/betterleaks/configs/betterleaks.toml
